In [85]:
#import dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import pandas as pd
import time

## NASA Mars News

In [86]:
#pointing to the directory where chromedriver exists
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [87]:
#visiting the news page
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [88]:
#Write it into html
html = browser.html
soup = bs(html,"html.parser")

In [89]:
news_title = soup.find("div",class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Para: {news_p}")

Title: Mars 2020 Rover: T-Minus One Year and Counting
Para: The launch period for NASA's next rover, Mars 2020, opens exactly one year from today, July 17, 2020, and extends through Aug. 5, 2020.

## JPL Mars Space Images - Featured Image

In [90]:
url_Mars_Space_Images = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

browser.visit(url_Mars_Space_Images)
time.sleep(1)

html = browser.html

soup = bs(html,'html.parser')

In [91]:
featured_image_list = []

for image in soup.find_all('div',class_="img"):
    featured_image_list.append(image.find('img').get('src'))

In [92]:

#feature image
feature_Image = featured_image_list[0]

#feature image url 
feature_Image_url = "https://www.jpl.nasa.gov/" + feature_Image

feature_Image_dict = {"image": feature_Image_url}

# print feature image url 

print("Feature Image URL:", feature_Image_url)

Feature Image URL: https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA23341-640x350.jpg

## Mars Weather

In [93]:
#get mars weather's latest tweet from the website
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [94]:

html_weather = browser.html
soup = bs(html_weather, "html.parser")
#temp = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)
#temp

Putting a 1 ton robot on another planet takes a few peoplehttps://twitter.com/earthtoleo/status/1152463780338532352 …

## Mars Facts

In [95]:
url_facts = "https://space-facts.com/mars/"

In [96]:
table = pd.read_html(url_facts)
table[0]

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [97]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Mars_Values","Earth_Values"]
df_mars_facts.set_index(["Parameter"])

                        Mars_Values     Earth_Values
Parameter
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:          -153 to 20 °C      -88 to 58°C

In [98]:
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Mars_Values</th>      <th>Earth_Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-153 to 20 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

## Mars Hemisperes

In [99]:

url_Mars_Hemisperes = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

browser.visit(url_Mars_Hemisperes)

html = browser.html

soup = bs(html,'html.parser')

In [100]:
mars_hemisperes_title_list = []

for img_title in soup.find_all('div',class_="description"):
    mars_hemisperes_title_list.append(img_title.find('h3').text)

In [101]:

mars_hemisphere_image_url = []

for image in soup.find_all('div',class_="item"):
    
    url = "https://astrogeology.usgs.gov/"
    
    mars_hemisphere_image_url.append(url + image.find('img').get('src'))

In [102]:
mars_hemisphere_image_url

['https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png']

In [112]:
full_image_url = []

for each_url in mars_hemisphere_image_url:
    
    split_url = each_url.split(".tif_thumb.png")[0]
    
    image_url = split_url + ".tif/full.jpg"
    
    full_image_url.append(image_url)

In [113]:
full_image_url

['https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif/full.jpg']

In [114]:
mars_hemisperes_title_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [115]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": full_image_url[3]},
    {"title": "Cerberus Hemisphere", "img_url": full_image_url[0]},
    {"title": "Schiaparelli Hemisphere", "img_url": full_image_url[1]},
    {"title": "Syrtis Major Hemisphere", "img_url": full_image_url[2]},
]

In [116]:
image_one = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'
image_two = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'
image_three = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'
image_four = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'

full_image = {"image_one": image_one, "image_two":image_two, "image_three":image_three, "image_four":image_four}

In [117]:
full_image['image_one']

'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'